.reservationsSection {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7rem;
    font-family: var(--font-family-markazi);
}

.reservationsSection h2 {
    margin-top: 5rem;
    font-size: 6rem;
    font-weight: 400;
}


.reservationDetails {
    border: 2px dashed var(--primary-color);
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .25);
    border-radius: 2rem;
    padding: 4rem;
    margin-top: 5rem;
    text-align: center;
}

.reservationDetails h3 {
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--primary-color);
    border-bottom: 2px dashed var(--primary-color);
}

.reservationDetails p {
    font-size: 3rem;
    margin: 1rem 0;
}

.deleteBtn {
    margin-top: 1rem;
    background-color: red;
    color: #fff;
}

.deleteBtn:hover {
    background-color: #c0392b;
    color: white;
    border-color: white;
}

@media (max-width: 1200px) {
    .reservationsSection h2 {
        margin-top: 10rem;
    }
}

@media (max-width: 768px) {
    .reservationDetails {
        padding: 3rem;
        border-radius: 1rem;
    }

    .reservationDetails h3 {
        font-size: 2.5rem;
    }

    .reservationDetails p {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .reservationDetails {
        padding: 2rem;
        border-radius: 0.5rem;
    }

    .reservationDetails h3 {
        font-size: 2rem;
    }

    .reservationDetails p {
        font-size: 1.6rem;
    }
}

